# Configuration for the Singly client - rename this to secrets.py
# and then run singly.py

OFFLINE = False

# From registering the application on singly
# Client ID
CLIENT_KEY = ''
# Client Secret
CLIENT_SECRET = ''

# Callback URL with the ?code=CODE parameter - for testing /  overriding
MY_CODE_URI = ''

# Access token from auth() call - for testing / overriding
MY_ACCESS_TOKEN = ''

